@model CurrencyConverter.Models.Converter

<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Converter</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FromValue)
            @Html.ValidationMessageFor(model => model.FromValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToValue)
            @Html.ValidationMessageFor(model => model.ToValue)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
